name: Publish to GitHub Packages
on:
  push:
    branches:
      # Changed to master to disable this workflow as currently the default branch is main and there's no branch called master.
      # Change this to main to re-enable this workflow.
      - master

jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14
          registry-url: https://npm.pkg.github.com/
      - run: yarn
      - run: yarn build
      - run: cp package.json lib
      - run: yarn privatePublish
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
